.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 100%;
    overflow-y: auto;
}

/* Responsive layout */
@media screen and (max-width: 768px) {
    body {
        display: block;
    }
}
